# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies# Ignorer le dossier node_modules
node_modules/

# Ignorer le dossier build (généré lors de la compilation)
build/

# Ignorer les fichiers d'environnement
.env
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
